* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-out;
}

li,
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.logo {
  cursor: pointer;
  height: 45px;
}

.logo-active {
  filter: invert(100%);
}

input,
button {
  height: 40px;
  background-color: white;
  border: none;
  outline: none;
  padding: 0 20px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 1px solid black;
}

button,
input[type="submit"] {
  width: fit-content;
  transition: all 0.3s ease-out;
}

input[type="submit"]:hover,
button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  padding: 0 20px;
}

.header-search-container {
  display: inline-flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

/* Dropdown Button */
#header-hamburger-dropdown-button,
#header-categories-dropdown-button {
  padding: 16px;
  border: none;
  cursor: pointer;
}

/* The container needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.header-hamburger-dropdown-content {
  display: none;
  position: absolute;
  transform: translate(-35%, 2%);
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 1px 10px 11px 5px rgba(0, 0, 0, 0.15);
  border-radius: 14px;
  z-index: 10;
}

.header-categories-dropdown-content {
  display: none;
  position: absolute;
  width: 30%;
  min-width: 600px;
  max-width: 1000px;
  align-self: center;
  background-color: #ffffff;
  box-shadow: 1px 10px 11px 5px rgba(0, 0, 0, 0.15);
  z-index: 10;
  border-radius: 14px;
  top: 80px;
  transform: translateX(-50%);
}

/* Links inside the dropdown */
.header-hamburger-dropdown-content p,
.header-categories-dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.header-hamburger-dropdown-content p:hover,
.header-categories-dropdown-content p:hover {
  background-color: rgb(245, 245, 245);
  border-radius: 14px;
}

/* Show the dropdown menu via JS */
.header-hamburger-dropdown-show {
  display: block;
}

.header-categories-dropdown-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.active {
  background-color: black;
  color: white;
}

.active-links {
  color: white;
}

.fas {
  cursor: pointer;
}

textarea {
  border: none;
  outline: none;
  width: 400px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 1px solid black;
  padding: 0 20px;
  resize: none;
  font-size: larger;
}

select {
  border: none;
  outline: none;
  width: 400px;
  height: 40px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 1px solid black;
  padding: 0 20px;
  font-size: larger;
}

.searchbar {
  width: 450px;
  border-radius: 20px 0 0 20px;
  font-size: large;
  font-weight: bold;
  border: none;
  box-shadow: none;
}

.searchbar-button {
  border-radius: 0 15px 15px 0;
  width: 50px;
  background-color: white;
  border: none;
  border-radius: 0 20px 20px 0;
  outline: none;
  cursor: pointer;
  box-shadow: none;
}

.fxver {
  display: flex;
  align-items: center;
  gap: 30px;
}

.fxcol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

main {
  margin: 90px 0 0 0;
}

.main-banner {
  min-height: 250px;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
}

.main-banner-img {
  width: 100%;
  max-width: 1700px;
  display: block;
}

.main-banner-buttons {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
}

.main-banner-button {
  color: white;
  background-color: black;
  border: 2px solid black;
  border-radius: 100%;
  font-size: larger;
}

.main-container {
  display: flex;
  justify-content: center;
}

.container-offers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 95%;
  max-width: 1300px;
}

.container-offers-element {
  padding-top: 30px;
  margin-bottom: 100px;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.element-img {
  display: flex;
  justify-content: center;
}

.product-img {
  height: 200px;
}

.element-bottom {
  padding: 30px 20px;
  height: 130px;
}

.element-cart {
  display: flex;
  justify-content: flex-end;
  padding: 0px 30px 40px 0;
}

.element-cart-button {
  padding: 20px;
  border: none;
  background-color: white;
  cursor: pointer;
  box-shadow: none;
}

.element-cart-button:hover {
  background-color: white;
  color: black;
}

.container-login-whole {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 300px;
  padding-top: 40px;
  height: 500px;
  width: 400px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 50px;
}

.container-login input {
  width: 250px;
}

.container-login input[type="submit"] {
  width: 180px;
}

.container-offer {
  height: 600px;
  width: 800px;
  margin-bottom: 300px;
}

#offer-buttons {
  height: 45px;
  display: flex;
  align-items: center;
}

.container-offer input[type="file"],
.container-offer input[type="number"] {
  width: 200px;
}

.container-user {
  margin-bottom: 200px;
  padding-bottom: 100px;
  background-color: white;
  width: 90%;
  max-width: 1400px;
  height: fit-content;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.container-user-top {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: rgb(250, 250, 250);
  width: 100%;
  height: 240px;
  position: relative;
}

.container-user-top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transform: translateY(-72px);
}

.container-user-top-left .image {
  width: 150px;
  height: 150px;
}

.container-user-top-left .image img {
  width: 150px;
  border-radius: 100%;
}

.container-user-top-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 150px;
}

.container-user-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}

#changepwd {
  position: absolute;
  right: 50px;
  bottom: 40px;
}

.background {
  background-image: url("../img/background.png");
  background-size: cover;
}

.background-user {
  width: 100%;
  height: 400px;
}

.fourofour {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 100px;
}

footer {
  width: 100%;
  height: 300px;
  background-color: rgb(201, 201, 201);
}
