* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: white;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-out;
}

.active {
    background-color: black;
    color: white;
    
}

.active-links {
    color: white;
}

li, a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.logo {
    cursor: pointer;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    padding: 0 20px;
}

.header-search-container {
    display: inline-flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.fas {
    cursor: pointer;
}

input {
    height: 40px;
    background-color: white;
    border: none;
    outline: none;
    padding: 0 20px;
}

.searchbar {
    width: 450px; 
    border-radius: 20px 0 0 20px;
    font-size: large;
    font-weight: bold;

}

.searchbar-button {
    border-radius: 0 15px 15px 0;
    width: 50px;
    background-color: white;
    border: none;
    border-radius: 0 20px 20px 0;
    outline: none;
    cursor: pointer;
}

.fxver {
    display: flex;
    align-items: center;
    gap: 30px;
}

main {
    margin: 25px 0;
}

.main-banner {
    min-height: 250px;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}

.main-banner-img {
    width: 100%;
    display: block;
    
}

.main-banner-buttons {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
}

.main-banner-button {
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 100%;
    font-size: larger;
}

.main-container {
    display: flex;
    justify-content: center;
}

.container-offers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 95%;
    max-width: 1300px;
}

.container-offers-element {
    padding-top: 30px;
    margin-bottom: 100px;
    justify-content: center;
    box-shadow: 0 0 5px black;
    border-radius: 20px;
    width: 300px;
}

.element-img {
    display: flex;
    justify-content: center;
}

.product-img {
    height: 200px;
}

.element-bottom {
    padding: 30px 20px;
    height: 130px;
}

.element-cart {
    display: flex;
    justify-content: flex-end;
    padding: 0 30px 20px 0;
}

.element-cart-button {
    padding: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.container-login-whole {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    padding-top: 40px;
    height: 500px;
    width: 80%;
    max-width: 1300px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 50px;
}

.container-login input {
    width: 250px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 1px solid black;
}

.container-login input[type="submit"] {
    width: 180px;
    transition: all 0.3s ease-out;
}

.container-login input[type="submit"]:hover {
    background-color: black;
    color: white;
    width: 180px;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 300px;
    background-color: rgb(201, 201, 201);
}